body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6f8;
    
}

.conteiner {
    margin: 50px auto;
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
}

.conteiner1 {
    background-color: rgb(220, 226, 248); 
    border-radius: 30px;
    padding: 20px;
    box-shadow: 1px 1px 12px #2507e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.conteiner1 img {
    width: 100%;
    height: auto; 
    border-radius: 30px; 
}

h1, h2, h4 {
    
    color: rgb(3, 29, 161);
    text-align: center; /* Centraliza o texto */
}

h1 {
    font-size: 3.5rem;
    margin: 5px 0;
}

h2 {
    
    font-size: 2.5rem;
    margin-top: -350px;
}

h4 {
    font-size: 1.5rem;
}

input {
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 100px;
    text-align: center;
}

button {
    background-color: rgb(80, 80, 250);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px 40px;
    font-size: 1rem;
    color: rgb(240, 240, 242);
    cursor: pointer;
    box-shadow: 1px 1px 12px #2507e7;
}

#result {
    margin: 10px 0;
    font-size: 2rem;
    color: #0830f6
}

button:hover {
    background-color: rgb(170, 170, 243);
}

footer {
    margin-bottom: auto;
    color: rgb(155, 155, 249);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 100%;
    font-size: 1.2rem;
}

@media (max-width: 800px) {
    .conteiner {
        margin: 20px;
        padding: 10px;
    }
    
    h1 {
        font-size: 2.2rem;
        margin-top: 20px;
        color: #0830f6;
    }

    h2 {
        font-size: 1.9rem;
        margin-top: -160px;
        color: #0830f6;
    }

    h4 {
        font-size: 1rem;
        color: #0830f6;
    }

    #result {
        font-size: 1.2rem;
        color: #0830f6;
    }

    button {
        width: 100%; 
        padding: 10px 0;
    }
}

@media (max-width: 420px) {
    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.2rem;
        margin-top: -140px;
    }

    h4 {
        font-size: 0.9rem;
    }

    #result {
        font-size: 1rem;
    }

    footer {
        font-size: 0.4rem;
    }
}